<div class="about-page-style">
    <img class="image-about" [src]="siteLogo" alt="Me">
    <div class="text-margin">
        <div class="text"> 
            <h3>About Shopping Online!</h3>
            <label class="store-description">Shopping Online is an online grocery store<br><br> which lets you to
                buy &
                order <br><br> everything you need for your kitchen <br><br> without ever leaving your
                house...<br><br>
                So don't waste time - simply sign up & start your order...
            </label>
        </div>
        <div>
            <br><br>
        </div>
        <div>

        </div>
    </div>
</div>

<mat-icon class="return-icon" title="Return" (click)="onReturnClick()">keyboard_return</mat-icon>